@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Magison";
  src: url("../../public/fonts/Magison.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Michroma", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0, 0%, 95%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0, 0%, 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 65%;
    --accent: 355, 95%, 28%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 70%;

    --gradient-purple-start: 0 0% 0%;
    --gradient-purple-end: 0 0% 100%;

    /* Variáveis para o gradiente da página */
    --gradient-page-start: 0 0% 27%; /* equivalente ao gray-700 */
    --gradient-page-end: 0 0% 38%; /* equivalente ao gray-600 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .gradient-purple {
    @apply bg-gradient-to-r from-[hsl(var(--gradient-purple-start))] to-[hsl(var(--gradient-purple-end))];
  }

  .gradient-purple-reverse {
    @apply bg-gradient-to-l from-[hsl(var(--gradient-purple-start))] to-[hsl(var(--gradient-purple-end))];
  }

  .gradient-primary {
    @apply bg-gradient-to-r from-primary/80 to-primary/10;
  }

  .gradient-primary-reverse {
    @apply bg-gradient-to-l from-primary/80 to-primary/10;
  }

  /* Classe utilitária para o gradiente da página */
  .gradient-page {
    @apply bg-gradient-to-t from-page-gradient-start to-page-gradient-end opacity-50;
  }

  @keyframes modalIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-modalIn {
  animation: modalIn 0.2s forwards;
}
}
